RewriteBase /
RewriteEngine on
RewriteRule articles/2005/12/20/multitapnet /2005/12/20/multitapnet [R=301]
RewriteRule articles/2005/12/21/multitapnet_revision_100 /2005/12/21/multitapnet-revision-100 [R=301]
RewriteRule articles/2005/12/21/tiktrac /2005/12/21/tiktrac [R=301]
RewriteRule articles/2005/12/22/tiktrac_launched /2005/12/22/tiktrac-launched [R=301]
RewriteRule articles/2005/12/22/happy_holidays /2005/12/22/happy-holidays [R=301]
RewriteRule articles/2006/01/07/multitapnet_bugfixes /2006/01/07/multitapnet-bugfixes [R=301]
RewriteRule articles/2006/01/10/tiktrac_on_ajaxian /2006/01/10/tiktrac-on-ajaxian [R=301]
RewriteRule articles/2006/01/21/we_love_our_beta_testers /2006/01/21/we-love-our-beta-testers [R=301]
RewriteRule articles/2006/01/28/tiktrac_update /2006/01/28/tiktrac-update [R=301]
RewriteRule articles/2006/02/04/tiktrac_mobile /2006/02/04/tiktrac-mobile [R=301]
RewriteRule articles/2006/02/09/some_rails_stuff_from_your_friends_at_helicoid /2006/02/09/some-rails-stuff-from-your-friends-at-helicoid [R=301]
RewriteRule articles/2006/02/17/tiktrac_reports /2006/02/17/tiktrac-reports [R=301]
RewriteRule articles/2006/03/09/more_rails_stuff_from_your_friends_at_helicoid /2006/03/09/more-rails-stuff-from-your-friends-at-helicoid [R=301]
RewriteRule articles/2006/02/27/tiktrac_api_documentation /2006/02/27/tiktrac-api-documentation [R=301]
RewriteRule articles/2006/02/28/choice /2006/02/28/choice [R=301]
RewriteRule articles/2006/03/04/tiktrac_api_status_and_forum /2006/03/04/tiktrac-api-status-and-forum [R=301]
RewriteRule articles/2006/03/10/new_project /2006/03/10/new-project [R=301]
RewriteRule articles/2006/03/11/tiktrac_api_released_interface_improvements /2006/03/11/tiktrac-api-released-interface-improvements [R=301]
RewriteRule articles/2006/03/13/snippets_of_mystery /2006/03/13/snippets-of-mystery [R=301]
RewriteRule articles/2006/03/14/agile_apps_with_apis /2006/03/14/agile-apps-with-apis [R=301]
RewriteRule articles/2006/03/20/tiktrac_on_the_command_line /2006/03/20/tiktrac-on-the-command-line [R=301]
RewriteRule articles/2006/03/30/basecamp_mobile /2006/03/30/basecamp-mobile [R=301]
RewriteRule articles/2006/04/11/tiktrac_update /2006/04/11/tiktrac-update [R=301]
RewriteRule articles/2006/04/22/tiktrac_upgraded /2006/04/22/tiktrac-upgraded [R=301]
RewriteRule articles/2006/04/25/multitapnet_upgrades_api_introduced /2006/04/25/multitapnet-upgrades-api-introduced [R=301]
RewriteRule articles/2006/05/11/basecamp_mobile /2006/05/11/basecamp-mobile [R=301]
RewriteRule articles/2006/05/20/bugtagger /2006/05/20/bugtagger [R=301]
RewriteRule articles/2006/05/27/basecamp_mobile_away /2006/05/27/basecamp-mobile-away [R=301]
RewriteRule articles/2006/06/03/tiktrac_new_dashboard_overview /2006/06/03/tiktrac-new-dashboard-overview [R=301]
RewriteRule articles/2006/06/22/tiktrac_server_status /2006/06/22/tiktrac-server-status [R=301]
RewriteRule articles/2006/06/24/tiktrac_and_bugtagger_server_move /2006/06/24/tiktrac-and-bugtagger-server-move [R=301]
RewriteRule articles/2006/07/08/quickly_access_tiktrac_on_a_mac /2006/07/08/quickly-access-tiktrac-on-a-mac [R=301]
RewriteRule articles/2006/07/22/tiktrac_updates_and_keyboard_shortcuts /2006/07/22/tiktrac-updates-and-keyboard-shortcuts [R=301]
RewriteRule articles/2006/08/03/basecamp_mobile_update /2006/08/03/basecamp-mobile-update [R=301]
RewriteRule articles/2006/08/07/new_product_ebiwrite_the_translators_toolkit /2006/08/07/new-product-ebiwrite-the-translators-toolkit [R=301]
RewriteRule articles/2006/08/28/stopwatch_for_tiktrac_a_usercontributed_script /2006/08/28/stopwatch-for-tiktrac-a-usercontributed-script [R=301]
RewriteRule articles/2006/09/04/basecamp_mobile_code_release /2006/09/04/basecamp-mobile-code-release [R=301]
RewriteRule articles/2006/10/01/tiktrac_new_features /2006/10/01/tiktrac-new-features [R=301]
RewriteRule articles/2006/10/12/something_fun /2006/10/12/something-fun [R=301]
RewriteRule articles/2006/10/20/another_screenshot /2006/10/20/another-screenshot [R=301]
RewriteRule articles/2006/10/21/tiktrac_new_features_alternate_views_and_better_text_formatting /2006/10/21/tiktrac-new-features-alternate-views-and-better-text-formatting [R=301]
RewriteRule articles/2006/10/26/last_teaser_screenshot /2006/10/26/last-teaser-screenshot [R=301]
RewriteRule articles/2006/11/07/my_own_private_helipad /2006/11/07/my-own-private-helipad [R=301]
RewriteRule articles/2006/11/14/helipad_beta_testers_thanks_for_the_help_so_far /2006/11/14/helipad-beta-testers-thanks-for-the-help-so-far [R=301]
RewriteRule articles/2006/11/16/helipad_update /2006/11/16/helipad-update [R=301]
RewriteRule articles/2006/11/26/helipad_exports /2006/11/26/helipad-exports [R=301]
RewriteRule articles/2006/12/14/helipad_updates_and_the_todo_list_plugin /2006/12/14/helipad-updates-and-the-todo-list-plugin [R=301]
RewriteRule articles/2006/12/19/helipad_updates_dashboard_sort_options_ie_and_opera_9_fixes /2006/12/19/helipad-updates-dashboard-sort-options-ie-and-opera-9-fixes [R=301]
RewriteRule articles/2007/01/21/tiktrac_updates /2007/01/21/tiktrac-updates [R=301]
RewriteRule articles/2007/02/01/tiktrac_january_updates /2007/02/01/tiktrac-january-updates [R=301]
RewriteRule articles/2007/02/07/logo_and_wallpaper /2007/02/07/logo-and-wallpaper [R=301]
RewriteRule articles/2007/03/03/tiktrac_custom_branding_interface_added /2007/03/03/tiktrac-custom-branding-interface-added [R=301]
RewriteRule articles/2007/03/17/tiktrac_user_management_upgrade /2007/03/17/tiktrac-user-management-upgrade [R=301]
RewriteRule articles/2007/03/25/tiktrac_updates_new_search_interface_minor_enhancements /2007/03/25/tiktrac-updates-new-search-interface-minor-enhancements [R=301]
RewriteRule articles/2007/04/08/service_status_page /2007/04/08/service-status-page [R=301]
RewriteRule articles/2007/04/21/tiktrac_updates_colours_time_formats_sheet_list /2007/04/21/tiktrac-updates-colours-time-formats-sheet-list [R=301]
RewriteRule articles/2007/08/13/tiktrac_progress /2007/08/13/tiktrac-progress [R=301]
RewriteRule articles/2007/08/17/helipad_status /2007/08/17/helipad-status [R=301]
RewriteRule articles/2007/08/31/tiktrac_goes_live /2007/08/31/tiktrac-goes-live [R=301]
RewriteRule articles/2007/09/03/foldinghelicoid /2007/09/03/foldinghelicoid [R=301]
RewriteRule articles/2007/09/07/tiktrac_upgraded_editable_costs_tax_better_reports_and_more /2007/09/07/tiktrac-upgraded-editable-costs-tax-better-reports-and-more [R=301]
RewriteRule articles/2007/10/04/tiktrac_rest_api_beta /2007/10/04/tiktrac-rest-api-beta [R=301]
RewriteRule articles/2007/11/21/tiktrac_task_paid_status_added /2007/11/21/tiktrac-task-paid-status-added [R=301]
RewriteRule articles/2007/11/26/tiktrac_free_period_over /2007/11/26/tiktrac-free-period-over [R=301]
RewriteRule articles/2007/11/30/tiktrac_tip_daily_summaries /2007/11/30/tiktrac-tip-daily-summaries [R=301]
RewriteRule articles/2007/12/07/tip_keyboard_shortcuts /2007/12/07/tip-keyboard-shortcuts [R=301]
RewriteRule articles/2007/12/07/ebiwrite_launched /2007/12/07/ebiwrite-launched [R=301]
RewriteRule articles/2007/12/21/tiktrac_ridiculously_useful_reporting_launched /2007/12/21/tiktrac-ridiculously-useful-reporting-launched [R=301]
RewriteRule articles/2007/12/27/tiktrac_referral_scheme_launched /2007/12/27/tiktrac-referral-scheme-launched [R=301]
RewriteRule articles/2008/01/03/tiktrac_import_data_from_excel_open_office_numbers /2008/01/03/tiktrac-import-data-from-excel-open-office-numbers [R=301]
RewriteRule articles/2008/01/04/tiktrac_1000_days_worth_of_time_tracked /2008/01/04/tiktrac-1000-days-worth-of-time-tracked [R=301]
RewriteRule articles/2008/01/07/coming_soon_tiktrac_dashboard_widget /2008/01/07/coming-soon-tiktrac-dashboard-widget [R=301]
RewriteRule articles/2008/01/10/get_your_tiktrac_dashboard_widgets_here /2008/01/10/get-your-tiktrac-dashboard-widgets-here [R=301]
RewriteRule articles/2008/01/18/helicoid_insider /2008/01/18/helicoid-insider [R=301]
RewriteRule articles/2008/01/26/tiktrac_tip_go_mobile /2008/01/26/tiktrac-tip-go-mobile [R=301]
RewriteRule articles/2008/02/01/tiktrac_and_ebiwrite_bug_fixes /2008/02/01/tiktrac-and-ebiwrite-bug-fixes [R=301]
RewriteRule articles/2008/03/12/basecamp_mobile_updates /2008/03/12/basecamp-mobile-updates [R=301]
RewriteRule articles/2008/03/28/helipad_update_coming_soon /2008/03/28/helipad-update-coming-soon [R=301]
RewriteRule articles/2008/04/14/helipad_upgrade_unleashed /2008/04/14/helipad-upgrade-unleashed [R=301]
RewriteRule articles/2008/04/18/tiktrac_updated_server_maintenance /2008/04/18/tiktrac-updated-server-maintenance [R=301]
RewriteRule articles/2008/04/11/helipad_tip_mobile_browser_homepage /2008/04/11/helipad-tip-mobile-browser-homepage [R=301]
RewriteRule articles/2008/04/28/helipad_tip_addons /2008/04/28/helipad-tip-addons [R=301]
RewriteRule articles/2008/05/13/server_maintenance_ebiwrite_bug_fixes /2008/05/13/server-maintenance-ebiwrite-bug-fixes [R=301]
RewriteRule articles/2008/06/10/art_commission_wallpapers_by_craig_humpston /2008/06/10/art-commission-wallpapers-by-craig-humpston [R=301]
RewriteRule articles/2008/06/14/helipad_api_changes /2008/06/14/helipad-api-changes [R=301]
RewriteRule articles/2008/06/25/coming_soon_loom /2008/06/25/coming-soon-loom [R=301]
RewriteRule articles/2008/07/12/loom_out_now /2008/07/12/loom-out-now [R=301]
RewriteRule articles/2008/07/14/support_resources /2008/07/14/support-resources [R=301]
RewriteRule articles/2008/07/17/helicoid_rebooted /2008/07/17/helicoid-rebooted [R=301]
RewriteRule articles/2008/08/06/tiktrac_upgraded_client_edit_page_new_look_api_changes /2008/08/06/tiktrac-upgraded-client-edit-page-new-look-api-changes [R=301]
RewriteRule articles/2008/09/02/art_commission_wallpapers_by_paintjerm /2008/09/02/art-commission-wallpapers-by-paintjerm [R=301]
RewriteRule articles/2008/09/11/network_with_us /2008/09/11/network-with-us [R=301]
RewriteRule articles/2008/09/17/helipad_updates /2008/09/17/helipad-updates [R=301]
RewriteRule articles/2008/09/26/helicoid_news_in_japanese /2008/09/26/helicoid-news-in-japanese [R=301]
RewriteRule articles/2008/10/16/tiktrac_updates_reports /2008/10/16/tiktrac-updates-reports [R=301]
RewriteRule articles/2008/11/11/deadline /2008/11/11/deadline [R=301]
RewriteRule articles/2008/11/15/deadline_api_live /2008/11/15/deadline-api-live [R=301]
RewriteRule articles/2008/11/19/deadline_and_tiktrac_updates /2008/11/19/deadline-and-tiktrac-updates [R=301]
RewriteRule articles/2008/11/24/tiktrac_upgraded_hhmm_support_and_email_imports /2008/11/24/tiktrac-upgraded-hhmm-support-and-email-imports [R=301]
RewriteRule articles/2008/11/26/deadline_new_features_for_this_week /2008/11/26/deadline-new-features-for-this-week [R=301]
RewriteRule articles/2008/12/04/deadline_fixes_and_tips /2008/12/04/deadline-fixes-and-tips [R=301]
RewriteRule articles/2008/12/17/deadline_upgrade_recurring_reminders /2008/12/17/deadline-upgrade-recurring-reminders [R=301]
RewriteRule articles/2008/12/24/deadline_colours_backgrounds_and_themes /2008/12/24/deadline-colours-backgrounds-and-themes [R=301]
RewriteRule articles/2009/01/02/deadline_sms_support_plus_fluid_and_ubiquity /2009/01/02/deadline-sms-support-plus-fluid-and-ubiquity [R=301]
RewriteRule articles/2009/01/12/deadline_interface_updates /2009/01/12/deadline-interface-updates [R=301]
RewriteRule articles/2009/02/03/service_outage_this_sunday /2009/02/03/service-outage-this-sunday [R=301]
RewriteRule articles/2009/02/05/helipad_mac_public_beta /2009/02/05/helipad-mac-public-beta [R=301]
RewriteRule articles/2009/02/10/helipad_iphone_app_now_available /2009/02/10/helipad-iphone-app-now-available [R=301]
RewriteRule articles/2009/02/12/service_outage_next_tuesday_17th_feb /2009/02/12/service-outage-next-tuesday-17th-feb [R=301]
RewriteRule articles/2009/02/16/new_tiktrac_widget /2009/02/16/new-tiktrac-widget [R=301]
RewriteRule articles/2009/02/27/helipad_updates_and_other_news /2009/02/27/helipad-updates-and-other-news [R=301]
RewriteRule articles/2009/03/26/deadline_parsing_tweaks /2009/03/26/deadline-parsing-tweaks [R=301]
RewriteRule articles/2009/03/31/tiktrac_upgraded_times_now_stored_in_seconds /2009/03/31/tiktrac-upgraded-times-now-stored-in-seconds [R=301]
RewriteRule articles/2009/04/01/helipad_mac_update /2009/04/01/helipad-mac-update [R=301]
RewriteRule articles/2009/04/18/deadline_notification_api_and_github_support /2009/04/18/deadline-notification-api-and-github-support [R=301]
RewriteRule articles/2009/04/20/deadline_for_mac /2009/04/20/deadline-for-mac [R=301]
RewriteRule articles/2009/05/11/deadline_and_helipad_signin_glitch /2009/05/11/deadline-and-helipad-signin-glitch [R=301]
RewriteRule articles/2009/05/15/using_deadline_everywhere /2009/05/15/using-deadline-everywhere [R=301]
RewriteRule articles/2009/06/26/support_helipad /2009/06/26/support-helipad [R=301]
RewriteRule articles/2009/09/01/helipad_mac_and_tiktrac_widget_updated /2009/09/01/helipad-mac-and-tiktrac-widget-updated [R=301]
RewriteRule articles/2009/09/15/helicoid_id /2009/09/15/helicoid-id [R=301]
RewriteRule articles/2009/09/17/deadline_keyboard_shortcuts /2009/09/17/deadline-keyboard-shortcuts [R=301]
RewriteRule articles/2009/09/23/tiktrac_widget_update /2009/09/23/tiktrac-widget-update [R=301]
RewriteRule articles/2009/09/25/ebiwrite_is_now_on_helicoid_id /2009/09/25/ebiwrite-is-now-on-helicoid-id [R=301]
RewriteRule articles/2009/10/28/deadline_jabber_updates /2009/10/28/deadline-jabber-updates [R=301]
RewriteRule articles/2009/11/20/helipad_mac_updates /2009/11/20/helipad-mac-updates [R=301]
RewriteRule articles/2009/12/07/helipad_mac_updates_folders_and_full_screen /2009/12/07/helipad-mac-updates-folders-and-full-screen [R=301]
RewriteRule articles/2009/12/27/helipad_mac_update_drag_and_drop /2009/12/27/helipad-mac-update-drag-and-drop [R=301]
RewriteRule articles/2010/01/06/helipad_iphone_version_16 /2010/01/06/helipad-iphone-version-16 [R=301]
RewriteRule articles/2010/03/02/translating_rework /2010/03/02/translating-rework [R=301]

# THESE SHOULD GO IN THE OLD HELICOID INSIDER DIR
RewriteRule articles/2008/01/07/welcome_to_helicoid_insider /moved.html
RewriteRule articles/2008/01/08/10_essential_ruby_gems http://blog.helicoid.net/2008/01/08/10-essential-ruby-gems [R=301]
RewriteRule articles/2008/01/10/20_free_icons_dedicated_to_programmers http://blog.helicoid.net/2008/01/10/20-free-icons-dedicated-to-programmers [R=301]
RewriteRule articles/2008/01/18/protip_start_using_test_driven_development_today http://blog.helicoid.net/2008/01/18/protip-start-using-test-driven-development-today [R=301]
RewriteRule articles/2008/01/24/puzzle_hacking http://blog.helicoid.net/2008/01/24/puzzle-hacking [R=301]
RewriteRule articles/2008/01/26/web_app_marketing_tip_widgets http://blog.helicoid.net/2008/01/26/web-app-marketing-tip-widgets [R=301]
RewriteRule articles/2008/01/28/version_control_write_better_commit_messages http://blog.helicoid.net/2008/01/28/version-control-write-better-commit-messages [R=301]
RewriteRule articles/2008/01/29/improve_customer_service_with_error_emails http://blog.helicoid.net/2008/01/29/improve-customer-service-with-error-emails [R=301]
RewriteRule articles/2008/02/06/lateral_thinking_of_withered_technology http://blog.helicoid.net/2008/02/06/lateral-thinking-of-withered-technology [R=301]
RewriteRule articles/2008/03/27/think http://blog.helicoid.net/2008/03/27/think [R=301]
RewriteRule articles/2008/04/22/rapid_rails http://blog.helicoid.net/2008/04/22/rapid-rails [R=301]
RewriteRule articles/2008/05/01/unfinished_and_unpublished http://blog.helicoid.net/2008/05/01/unfinished-and-unpublished [R=301]
RewriteRule articles/2008/05/23/inspirational_reading http://blog.helicoid.net/2008/05/23/inspirational-reading [R=301]
RewriteRule articles/2008/05/28/google_app_engine_vs_aws http://blog.helicoid.net/2008/05/28/google-app-engine-vs-aws [R=301]
RewriteRule articles/2008/05/30/bletchley_park_may_close_due_to_funding http://blog.helicoid.net/2008/05/30/bletchley-park-may-close-due-to-funding [R=301]
RewriteRule articles/2008/06/11/incredible_radiohead_remix_video http://blog.helicoid.net/2008/06/11/incredible-radiohead-remix-video [R=301]
RewriteRule articles/2008/06/22/korg_ds10_a_synth_for_your_ds http://blog.helicoid.net/2008/06/22/korg-ds10-a-synth-for-your-ds [R=301]
RewriteRule articles/2008/07/08/incredible_kinetic_sculpture http://blog.helicoid.net/2008/07/08/incredible-kinetic-sculpture [R=301]
RewriteRule articles/2008/08/19/build_your_own_search_engine http://blog.helicoid.net/2008/08/19/build-your-own-search-engine [R=301]
RewriteRule articles/2008/09/08/analytics_with_capistrano http://blog.helicoid.net/2008/09/08/analytics-with-capistrano [R=301]
RewriteRule articles/2008/09/10/cutty_sark_cam http://blog.helicoid.net/2008/09/10/cutty-sark-cam [R=301]
RewriteRule articles/2008/09/12/guerrilla_software_marketing_strategies http://blog.helicoid.net/2008/09/12/guerrilla-software-marketing-strategies [R=301]
RewriteRule articles/2008/09/18/lighttpd_422_unprocessable_entity_and_activeresource http://blog.helicoid.net/2008/09/18/lighttpd-422-unprocessable-entity-and-activeresource [R=301]
RewriteRule articles/2008/09/22/dynamic_rails_error_help http://blog.helicoid.net/2008/09/22/dynamic-rails-error-help [R=301]
RewriteRule articles/2008/09/25/building_our_centralised_authentication_system http://blog.helicoid.net/2008/09/25/building-our-centralised-authentication-system [R=301]
RewriteRule articles/2008/10/02/top_5_uses_for_capistrano http://blog.helicoid.net/2008/10/02/top-5-uses-for-capistrano [R=301]
RewriteRule articles/2008/10/16/rails_plugin_assetautoinclude http://blog.helicoid.net/2008/10/16/rails-plugin-assetautoinclude [R=301]
RewriteRule articles/2008/12/26/rapid_fluid_support http://blog.helicoid.net/2008/12/26/rapid-fluid-support [R=301]
RewriteRule articles/2009/01/03/tips_on_sending_sms_from_web_applications http://blog.helicoid.net/2009/01/03/tips-on-sending-sms-from-web-applications [R=301]
RewriteRule articles/2009/01/14/unified_single_site_browser_ssb_support http://blog.helicoid.net/2009/01/14/unified-single-site-browser-ssb-support [R=301]
RewriteRule articles/2009/01/28/awesome_helipad_ruby_gem http://blog.helicoid.net/2009/01/28/awesome-helipad-ruby-gem [R=301]
RewriteRule articles/2009/02/14/add_sharethis_buttons_to_tumblr http://blog.helicoid.net/2009/02/14/add-sharethis-buttons-to-tumblr [R=301]
RewriteRule articles/2009/02/20/loom_exception_logging_for_your_apps http://blog.helicoid.net/2009/02/20/loom-exception-logging-for-your-apps [R=301]
RewriteRule articles/2009/04/15/secure_trading_rails_plugin http://blog.helicoid.net/2009/04/15/secure-trading-rails-plugin [R=301]
RewriteRule articles/2009/06/26/loom_open_source_edition http://blog.helicoid.net/2009/06/26/loom-open-source-edition [R=301]
RewriteRule articles/2009/07/01/open_source_jschat http://blog.helicoid.net/2009/07/01/open-source-jschat [R=301]
RewriteRule articles/2009/07/13/agile_deployment http://blog.helicoid.net/2009/07/13/agile-deployment [R=301]
RewriteRule articles/2009/07/20/rails_apps_and_server_logs http://blog.helicoid.net/2009/07/20/rails-apps-and-server-logs [R=301]
RewriteRule articles/2009/10/29/riot_ruby_unit_tests http://blog.helicoid.net/2009/10/29/riot-ruby-unit-tests [R=301]

