<div id="sidebar">
  <ul>
    <li><h3>About</h3></li>
    <li><p class="fade">This blog contains news and product updates from Helicoid Limited, a London-based web applications company.</p></li>
    <li><a href="http://twitter.com/helicoid">Twitter</a> | <a href="http://feeds.feedburner.com/helicoid">Feed</a> | <a href="http://github.com/alexyoung/helicoid_blog">Source</a></li>
    <li><p><a href="http://feeds.feedburner.com/helicoid"><img src="http://feeds.feedburner.com/~fc/helicoid?bg=99CCFF&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a></p></li>
    <li>
      <form action="http://www.google.com/search" method="get">
        <p class="clean">
          <input name="sitesearch" type="hidden" value="helicoid.net" />
          <input class="text" name="q" type="text" size="12" /><br/>
          <input class="button" type="submit" value="Google" />
        </p>
      </form>
    </li>
    <li class="separator"><hr /></li>
    <li><h3>Translations</h3></li>
    <li><a class="japanese-text" href="http://jp.helicoid.net/">日本語のブログ</a> <span class="english-text">Japanese Blog</span></li>
    <li class="separator"><hr /></li>
    <li class="sponsor">
      <p><a href="http://deadlineapp.com"><img src="/images/deadline.png" alt="" /></a></p>
      <p>Get free email and IM reminders with <a href="http://deadlineapp.com">Deadline</a></p>
    </li>
    <li class="sponsor">
      <p><a href="http://ebiwrite.com"><img src="/images/ebiwrite.gif" alt="" /></a></p>
      <p><a href="http://ebiwrite.com">Ebiwrite</a>: Tools for translators</p>
    </li>
    <li class="sponsor">
      <p><a href="http://tiktrac.com"><img src="/images/tiktrac.gif" alt="" /></a></p>
      <p>Track time and expenses with <a href="http://tiktrac.com">Tiktrac</a></p>
    </li>
    <li class="sponsor">
      <p><a href="http://helipadapp.com"><img src="/images/helipad.gif" alt="" /></a></p>
      <p>Write notes online with <a href="http://helipadapp.com">Helipad</a></p>
    </li>
  </ul>
</div>
